#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.numbers-button {
  padding: 10px;
  color: #000;
  background: #fff;
  border: 2px solid #a9091d;
  border-radius: 5px;
  cursor: pointer;
}